<div class="tile tile-centered">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <figure class="avatar avatar-lg">
        <img src="<%- config.avatar_url %>" alt="avatar">
      </figure>
    </div>
  </div>
  <div class="tile-content">
    <div class="tile-title"><%= config.author %></div>
    <div class="tile-subtitle text-gray">
      <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, '于YYYY年MM月D日') %></time>
    </div>
  </div>
</div>
