@import 'variables';

@import '_spectre/src/spectre';
@import '_spectre/src/spectre-exp';

@import 'meta';

.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  @extend .h1;
  @extend .text-center;
  font-weight: 900;
}

ol, ul, dl {
  list-style: outside;
}

.pagination {
  justify-content: center;
  margin: $unit-6 0;
}

.timeline-left .fa {
  font-size: $unit-6;
}

.navbar {
  padding: $unit-3;
  box-shadow: 0 (-$unit-4) $unit-12 $unit-1 $primary-color-light;
  background-color: #000;
}

.footer {
  padding: $unit-12;
  font-size: $font-size-sm;
  background-color: #000;
}

.content {
  padding-top: $unit-8;
  padding-bottom: $unit-8;
}

.no-box-shadow {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.breadcrumb {
  margin: 0;
  padding: 0;
  .breadcrumb-item {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
      margin: 0;
    }
    &:not(:first-child) {
      &::before {
        color: $gray-color;
        content: '›';
        padding: 0;
      }
    }
  }
}
