@import 'variables';

@import '_spectre/src/spectre';
@import '_spectre/src/spectre-exp';

.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  @extend .h1;
  @extend .text-center;
  font-weight: 900;
}

ol, ul, dl {
  list-style: outside;
}

.pagination {
  justify-content: center;
}

.timeline-left .fa {
  font-size: $unit-6;
}
