<header class="header">
  <div class="container">
    <nav class="navbar">
      <section class="navbar-section">
        <% for (var i in theme.menu) { %>
          <a href="<%- url_for(theme.menu[i]) %>" class="btn btn-link"><%= i %></a>
        <% } %>
      </section>
      <% if (config.algolia) { %>
        <section class="navbar-section">
          <div class="input-group input-inline">
            <div class="input-group-addon hide-sm">
              <img class="algolia-logo" src="/img/algolia.svg">
            </div>
            <input type="text" class="form-input" id="search-box">
          </div>
        </section>
      <% } %>
    </nav>
  </div>
</header>
